<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="825697574361-llke7qn5k9jgrc9434vr44iq30sj6r0m.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">




<div id="mainpage">
  <div class="row">
    <h1 id="homeTitle">MAKE || BREAK</h1>
  </div>
  <div class="row">
    <p id="homeDesc">The one place that makes or breaks a person’s day anonymously</p>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
   
    <a href="#" onclick="signOut();">Sign out</a>
    <div class="col-md-4"></div>
  </div>

   <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-1">
      <button type="submit"  data-onsuccess="onSignIn" class="btn btn-primary pgButt g-signin2" id="regCont">Register</button>
    </div>
   

  <!-- Modal for Register -->

  <div id="registerModal" class="modal hide" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Please Register</h1>
        </div>
        <div class="modal-body">
          <form class="contButt">
            <div class="form-group">
             <div  data-theme="dark"></div>
            </div>
            <button type="submit"  data-onsuccess="onSignIn" class="btn btn-primary pgButt g-signin2" id="regCont">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal for Login -->

  <div id="loginModal" class="modal hide" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Please Login</h1>
        </div>
        <div class="modal-body">
          <form class="contButt">
           
          <button type="submit"  data-onsuccess="onSignIn" class="btn btn-primary pgButt g-signin2" id="regCont">Continue</button>
            <button class="btn btn-primary pgButt">Return</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>


<script>
  var revokeAllScopes = function() {
  auth2.disconnect();
}
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
var userEmail;
var id_token;
  function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
 // console.log('ID: ' + profile.getId()); 
  //console.log('Name: ' + profile.getName());
  //console.log('Image URL: ' + profile.getImageUrl());
  //console.log('Email: ' + profile.getEmail()); 
  userEmail = profile.getEmail();
  
  id_token = googleUser.getAuthResponse().id_token;
}
$("#regCont").on("click", function(event) {
  
  console.log(userEmail);
  console.log(id_token);
  var newUser = {
    Username: userEmail,
    Password: id_token
  };
  console.log(newUser)
  $.ajax("api/users",{
    type:"POST",
    data: newUser
  }).then(function(data){
    location.href = "http://localhost:3000/welcome";
    console.log(data)
})
  
  
  
});

</script>